.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 33%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  width: 100%;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
}

.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('vetpic.jpg');
  min-height: 100%;
}

.title {
  font-family: "Times New Roman", Times, serif;
}

.borders {
  border-bottom: 6px solid red;
  background-color: lightgrey;
}

.docpic {
  max-width: 33%;
  height: 33%;
}

.vetspec {
  text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
  .small {
    max-width: 100%;
    height: 50%
  }
}